.layoutFX {

  .mainLayoutGrid {
    display: grid;
    grid-template-columns: 1.618fr 1fr;
    grid-template-rows: auto;
    position: relative;
    z-index: 1;
    mix-blend-mode: screen;

    >.cel {
      padding: 3vw 6vw;

      &.content {
        background-color: var(--color-white);
        margin: 1vw 1vw 0 1vw;
        border-radius: 1vw;
      }

      &.figure {
        background-color: #F4F4F4;
        text-align: center;

        img {
          margin-right: 5vw;
          width: calc(100% - 5vw);
          top: 20px;
          position: sticky;
        }
      }
    }
  }

  .gradientFX {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(http://pngimg.com/uploads/drops/drops_PNG13477.png);
    background: linear-gradient(300deg,
        var(--color-variant-2-hsl) 0,
        var(--color-default-hsl) 100%);
    z-index: 0;
  }
}