[data-theme=similar] {

  // Lighten and darken
  --color-hueGap: 16;


  // Hue variation
  --color-default-h: var(--default-color-h);
  --color-variant-1-h: calc(var(--color-default-h) - var(--color-hueGap));
  --color-variant-2-h: calc(var(--color-variant-1-h) - var(--color-hueGap));
  --color-variant-3-h: calc(var(--color-default-h) + var(--color-hueGap));
  --color-variant-4-h: calc(var(--color-variant-3-h) + var(--color-hueGap));

  // Saturation variation
  --color-default-s: var(--default-color-s);
  --color-variant-1-s: calc(var(--color-default-s) + 5%);
  --color-variant-2-s: calc(var(--color-variant-1-s) + 5%);
  --color-variant-3-s: calc(var(--color-default-s) + 5%);
  --color-variant-4-s: calc(var(--color-variant-3-s) + 5%);

  // Lightness variation
  --color-default-l: var(--default-color-l);
  --color-variant-1-l: calc(var(--color-default-l) + 0%);
  --color-variant-2-l: calc(var(--color-variant-1-l) + 0%);
  --color-variant-3-l: calc(var(--color-default-l) + 0%);
  --color-variant-4-l: calc(var(--color-variant-3-l) + 0%);


  // Hue saturation lightness
  --color-default-hsl: hsl(var(--color-default-h), var(--color-default-s), var(--color-default-l));
  --color-variant-1-hsl: hsl(var(--color-variant-1-h), var(--color-variant-1-s), var(--color-variant-1-l));
  --color-variant-2-hsl: hsl(var(--color-variant-2-h), var(--color-variant-2-s), var(--color-variant-2-l));
  --color-variant-3-hsl: hsl(var(--color-variant-3-h), var(--color-variant-3-s), var(--color-variant-3-l));
  --color-variant-4-hsl: hsl(var(--color-variant-4-h), var(--color-variant-4-s), var(--color-variant-4-l));

}