@mixin defineColorHSL($color, $hue, $saturation, $lightness) {
  #{$color}: unquote("hsl(#{$hue}, #{$saturation}, #{$lightness})");
  #{$color}-h: #{$hue};
  #{$color}-s: #{$saturation};
  #{$color}-l: #{$lightness};
}

:root {
  // COLORS
  --color-black: #000;
  --color-white: #fff;

  // Default color
  //@include defineColorHSL(--default-color, 230, 75%, 42%);
  @include defineColorHSL(--default-color, 208, 42%, 54%);
  --contrastThreshold: 60%;
  /*
  --default-color-hex: #18e7e7;
  --default-color-h: 180;
  --default-color-s: 81%; // Min : 37 Max 60
  --default-color-l: 50%; // Min : 55 Max: 32 (warning reversed)

*/
  // TYPE
  --font-ital: 0; // 0 -> 2
  --font-wght: 450; // 100 -> 900

  --font-ital-title: 1;
  --font-wght-title: 500;

}

$default-color: var(--default-color-hex);



@import "./harmonyDynamicColor/triade";
@import "./functions/colors";
@import "./components/layout";
@import "./harmonyDynamicColor/similar";
@import "./components/rangeSlider";
@import "./components/checkList";
@import "./components/card";
@import "./components/mainTitle";
@import "./components/quiz";
@import "./components/weather";
@import "./mixins/palette";

@import "../scss/style.scss";



// FX gradient


.mainNav {
  position: relative;
  background: #fff;
  z-index: 2;
  width: 100%;
  padding: 2vw;

  a {
    margin-right: 2vw;
  }
}

.quizFigure {
  width: 100%;
}

.debbug {
  background: #fff;
  position: relative;
  z-index: 2;
}

.hidden {
  display: none;
}

// QUIZ
.answer.selected {
  background: yellow;
}

.btn {
  cursor: pointer;
}

.fade-enter,
.fade-enter .btn {
  opacity: 0;
  transform: translateX(-100%);
}

.fade-enter-active,
.fade-enter-active .btn {
  opacity: 1;
  transform: translateX(0%);
}

.fade-exit,
.fade-exit .btn {
  opacity: 1;
  transform: translateX(0%);
}

.fade-exit-active,
.fade-exit-active .btn {
  opacity: 0;
  transform: translateX(100%);
}

.fade-enter-active,
.fade-exit-active,
.fade-enter-active .btn,
.fade-exit-active .btn {
  transition: opacity 500ms, transform 500ms;
}


// https://www.shapedivider.app/
.custom-shape-divider-top-1591970053 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1591970053 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 114px;
}

.custom-shape-divider-top-1591970053 .shape-fill {
  fill: #FFFFFF;
}